.header {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: 0% 50%;

  &-description {
    color: $color-text-light-secondary;
    font-size: 0.9rem;
  }

  &-heading {
    color: $color-text-light-primary;
    text-shadow: 0 1px 5px black;
    font-size: 2.5rem;
    font-weight: 500;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    padding-bottom: 96px;
    padding-top: 96px;
    position: relative;
  }

  &-navigation {
    position: absolute;
    bottom: 0;
  }

  &-navigation-element {
    display: inline-block;
    background-color: white;
    border-radius: 4px 4px 0 0;
    padding: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
